*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*****************************/




/*----------SECTION 1---------*/

/*/-----LOGO AND IMG TITLE---------*/
.section1 .bg
{
    height: 10px;
    position: relative;
}

.section1 .font
{
    font-family: 'Graduate', cursive;
    background-color: rgba(218, 74, 74, 0.377);
}
.section1 .img1
{
    width: 100px ;
    height: 50px ;
    position: absolute;
    top: -2px;
   
}
/**---END LOGO AND IMG----------------*/


.section2 .line
{
   width: 100%; 
   height: 2px;
   background-color: rgba(218, 74, 74, 0.377);
}