*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------------------------------------*/
/* Start Nav*/
nav{
    background-color: rgba(0, 0, 0, .23);
    height: 50px;
    line-height: 50px;
}
nav .logo{
    color: #d80d0d !important;
}
nav .logo i:hover{
    transform: scale(1.2);
}
nav a{
    padding: 0 20px !important;
    margin-right: 0 !important;
    font-size: 14px !important;
}
nav .nav-item{
    position: relative;
}
nav .nav-item .nav-link{
    transition: color .5s , transform .5s;
    padding: 0 20px !important;
    font-size: 16px !important;
    position: relative;
    color: #ffffff !important;
    font-weight: bold;
}
nav .nav-item:first-of-type .nav-link{
    color: #d80d0d !important;
}
nav .nav-item .nav-link:hover{
    color: #d80d0d !important;
    transform: scale(1.1);
}
nav .navbar-nav .unlist{
    list-style: none;
    position: absolute;
    top: 49px;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, .23);
    height: 0px;
    text-transform: capitalize;
    overflow: hidden;
    transition: height .5s ;
}
nav .navbar-nav .nav-item:hover .unlist{
    height: 150px;
    
}
nav .unlist .list{
    transition: background-color .5s ;
}
nav .unlist .list:hover{
    background-color: #000;
}
/***end nav****/
/*-----------------------------------------------------------------*/
/* Start Header*/
header .contanir-img{
    height: 300px !important;
    background-image: url(../img/imghead.png);
    background-size: cover;
    background-position: 50% 70%;
}

/*Start Tool */
.header-tool{
    width: 40px;
    height: 110px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    right: 0;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 3px #333;
    z-index: 1;
}
.header-tool i{
    margin-top: 15px;
    margin-left: 15px;
    color: #666;
    cursor: pointer;
    transition: color .5s;
}
/* End Tool */

/* End Header*/
/*-----------------------------------------------------------------*/
/* Start Section Two*/
.section2 .hover-im img{
    transition: transform .5s;
}
.section2 .hover-im:hover img{
    transform: scale(1.1);
}
.section2 .hover-im .opacity{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: opacity .5s;
}
.section2 .hover-im .opacity:hover{
    opacity: 1;
}
/* End Section Two*/
/*-----------------------------------------------------------------*/
/* Start Section Three*/
.section3 p{
    font-size: 18px ;
    line-height: 2 !important;
}
.section3 ul li{
    padding: 20px 0;
    font-size: 18px ;
    transition:margin-left .5s;
    cursor: pointer;
}
.section3 ul li i{
    color: #009aa6;
}
.section3 ul li:hover{
    margin-left: 3px;
}
/* End Section Three*/
/*-----------------------------------------------------------------*/
/* Start Section Four*/
.section4{
    background-image: url(../img/img-css.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    position: relative;
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, .5);
}
/* End Section Four*/
/*-----------------------------------------------------------------*/
/* Start Section Six*/
.section6{
    background-color: #e1e1e1;
}
.section6 .card{
    background-color: transparent !important;
    border: 0 !important;
}
.section6 .card .cont{
    border-radius: 15px !important;
}
.section6 .cont-img{
    height: 250px !important;
}
.section6 .cont-img img{
    height: 100% !important;
    width: 100% !important;
    border-radius: 15px !important;
}
.section6 .card-body a{
    display: inline-block;
    font-size: 16px !important;
    color: #fff !important;
    text-transform: uppercase;
    transition:margin-left .5s;
    color: #d80d0d !important;
    text-decoration: none;
    font-weight: bold;
}
.section6 .card-body a:hover{
    margin-left: 5px;
}
/* End Section Six*/
/*-----------------------------------------------------------------*/
/* Start Section Eight*/
.section8{
    background-color: #1f1c1ce0 !important;
    cursor: pointer;
}
.section8 .sec-head h3{
    color: #fff !important;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.section8 .sec-head p{
    line-height: 2 !important;
    color: #888 !important;
    font-size: 14px !important;
}
.section8 .sec-head .copy-right{
    font-size: 12px !important;
    color: #777 !important;
    padding: 20px 0;
}
.section8 .sec-list ul li{
    color: #fff !important;
    list-style: none;
}
.section8 .sec-list .li{
    font-size: 14px !important;
    color: #888 !important;
    padding: 5px 0;
    transition: color .5s,margin-left .5s;
}
.section8 .sec-list .li:hover{
    color: #d80d0d !important;
    margin-left: 5px;
}
/* End Section Eight*/
/*-----------------------------------------------------------------*/
/* Start Footer*/
footer{
    height: 150px;
    width: 100%;
    background-color: #1f1c1ce0 !important;
}
footer a{
    text-transform: uppercase;
    font-size: 28px !important;
    color: #d80d0d !important;
    transition: color .5s;
}
footer a:hover{
}
/* End Footer*/
/*-----------------------------------------------------------------*/